div {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

input {
    color: #333;
}

#initial-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(51, 51, 51);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-msg-layer {
    display: flex;
    left: 1rem;
    top: 1rem;
    height: auto;
    position: absolute;
    z-index: 30;
    width: 20vw;
    max-width: 20rem;
    min-width: 15rem;
    align-items: stretch;
}

#top-msg-layer span {
    width: 100%;
}

.top-msg-title {
    display: flex;
    padding: 0.5rem 0.75rem 0.1rem 1rem;
    font-weight: 500;
    word-break: break-all;
}

.top-msg-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.1rem 0.25rem 0.5rem 0.75rem;
    font-size: 0.8rem;
    word-break: break-all;
}

.top-msg-content p {
    font-weight: 500;
    display: flex;
    width: 100%;
    justify-content: center;
}

.top-msg-close {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 0.85rem;
    padding: 0.25rem;
    border-left: 1px solid #eee;
    cursor: pointer;
    width: 4vw;
    max-width: 4rem;
    min-width: 3rem;
    justify-content: center;
    align-items: center;
}

.top-msg-close:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.top-msg-main {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.top-msg-box {
    transition: all 0.3s ease;
    border: 1px solid #eee;
    border-radius: 0.8rem;
    color: #eee;
    width: 100%;
    display: flex;
    flex-direction: row;
    user-select: none;
    align-items: stretch;
    margin-bottom: 1rem;
    overflow: hidden;
}

.top-msg-box:hover {
    box-shadow: 0 0 10px -5px #eee;
}

#pop-layer {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    position: absolute;
    z-index: 20;
    justify-content: center;
    align-items: center;
}

.volume svg {
    transition:all 0.1s ease-in-out;
    width: 1.3rem;
    height: 1.3rem;
    fill: #eee;
}

.volume:hover svg {
    transform:scale(1.1);
    fill: #fff;
}

#top-nav {
    display: flex;
    position: absolute;
    height: 3rem;
    top: 0;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem 0 0;
    color: #eee;
    z-index: 5;
}

#top-nav a {
    text-decoration: none;
}

#top-nav div {
    display: flex;
    margin: 0 0.8rem;
    user-select: none;
    cursor: pointer;
}

#bottom-box {
    user-select: none;
    display: flex;
    width: 50vw;
    height: 3rem;
    color: #fff;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    border-radius: 0.8rem;
    margin: 0 0 1rem 0;
}

#center-box {
    display: flex;
    min-width: 25rem;
    width: 35vh;
    max-width: 50rem;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    perspective: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(0.00001deg) rotateY(0.00001deg);
    user-select: none;
}

#compayu-title {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem 0 0.6rem 0;
    color: #fff;
    margin: 0 0 2rem 0;
    justify-content: center;
    align-items: center;
}

#compayu-title .title-desc {
    opacity: 0;
}

#compayu-title .title-border {
    /* transition: all 0.5s ease-in-out; */
    height: 0.2rem;
    width: 0%;
    background-color: #fff;
}

#compayu-title .title-top-border {
    align-self: flex-start;
    margin-bottom: 0.5rem;
}

#compayu-title .title-bottom-border {
    align-self: flex-end;
}

#compayu-title .title-chs {
    display: flex;
    font-size: 3rem;
    font-weight: 100;
    line-height: 3rem;
    font-weight: 500;
    margin-top: 0.75rem;
    transform: translate3d(0, 1vh, 5vh);
}

#compayu-title .title-eng {
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.4rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
    transform: translate3d(0vh, 1vh, 3vh);
}

#login-panel {
    /* margin: 2rem 0 0 0; */
    display: flex;
    border-radius: 0.5rem;
    width: 100%;
    height: 1rem;
    max-height: 20rem;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

/* .loading-container #login-mode,.loading-container #input-panel{
    display: none;
} */
.loading-box {
    width: 0%;
    height: 1rem;
    background-color: #fff;
    border-radius: 0.4rem;
    position: absolute;
    z-index: 100;
}

.loading-bg {
    width: 100%;
    height: 1rem;
    background-color: rgb(51, 51, 51);
    border-radius: 0.4rem;
    position: absolute;
    z-index: 50;
}

#login-mode {
    margin: 1rem 0;
    width: 35vh;
    min-width: 25rem;
    max-width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mode {
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 0 1rem;
    height: 3rem;
    width: 11vh;
    max-width: 15rem;
    min-width: 8.5rem;
    font-size: 1.3rem;
    border: 1px solid #999;
    border-radius: 0.5rem;
    color: #999;
    background-color: transparent;
    transform: translate3d(0vh, 0vh, 0vh);
    justify-content: center;
    align-items: center;
    outline:none;
}

#login-mode div:nth-child(1) {
    margin-left: 1rem;
}

#login-mode div:last-child {
    margin-right: 1rem;
}

#login-mode .mode-selected-random {
    color: #fff;
    background-color: #65a5e8;
    border: 1px solid #65a5e8;
    transform: translate3d(0, 0vh, 3vh);
}

#login-mode .mode-selected-user {
    color: #fff;
    background-color: #EB9400;
    border: 1px solid #EB9400;
    transform: translate3d(0, 0vh, 3vh);
}

#input-panel {
    display: flex;
    transition: all 0.3s ease-in-out;
    width: 100%;
    flex-direction: row;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.user-login {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.random-login {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

input::-webkit-input-placeholder {
    color: #333;
}

.user-login-inputs {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    flex: 1;
}

.input-login {
    transition: all 0.3s ease-in-out;
    transform: translate3d(0vh, -0.5vh, 2vh);
    font-family: 'Roboto';
    background: none;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    line-height: 1.8rem;
    font-size: 1rem;
    width: 90%;
    max-width: 18rem;
    padding: 0.25rem 0.75rem;
    margin: 0.35rem 0;
    font-weight: 500;
}

.input-login:focus {
    border: 1px solid #EB9400;
    box-shadow: 0 0 10px -5px #EB9400;
    transform: translate3d(0vh, -1vh, 4vh);
}

.input-login::placeholder {
    font-weight: lighter;
}

.login-opts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0 0 0;
}

.login-top {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-top-auto {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: -0.5rem 0 0.5rem 0;
    position: relative;
}

.login-bottom {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 1rem 0;
}

#user-login-left {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 2rem;
    margin-right: 0.5rem;
}

#user-login-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 2rem 0 0
}

#user-login-right div {
    display: flex;
    margin: 0.2rem;
}

.login-opts-text {
    color: #333;
    font-weight: 400;
    font-size: 0.9rem;
    margin: 0 0.2rem;
}

.login-auto {
    margin: 0 0 0.75rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-auto div {
    margin: 0.25rem 0;
}

.login-auto-nickname {
    color: #EB9400;
    font-size: 1.25rem;
    font-weight: bold;
}

.login-auto-avatar img {
    transition: all 0.3s ease-in-out;
    width: 10vh;
    max-width: 6rem;
    min-width: 3rem;
    height: 10vh;
    max-height: 6rem;
    min-height: 3rem;
    border-radius: 50%;
    padding: 0.1rem;
    border: 1px solid #EB9400;
}

.login-auto-avatar img:hover {
    box-shadow: 0 0 10px -3px #EB9400;
}


.login-change-user {
    position: absolute;
    left: 50%;
    margin: 0.2rem 0 0 5rem;
}

.btn-gray {
    transition: all 0.3s ease;
    user-select: none;
    cursor: pointer;
    padding: 0.25rem 0;
    font-size: 1rem;
    color: #ccc;
}

.btn-gray:hover {
    color: #333;
}

#random-text {
    display: flex;
    font-size: 1.2rem;
    line-height: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05rem;
    margin: 0 0 1.5rem 0;
}

#random-panel {
    display: flex;
    margin: 0 2.5rem;
    padding: 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-random-login {
    transition: all 0.3s ease;
    outline: none;
    cursor: pointer;
    padding: 0.6rem 1.25rem;
    line-height: 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: 2px solid #65a5e8;
    background-color: #65a5e8;
    color: #fff;
}

.btn-random-login:hover {
    box-shadow: 0 0 20px -5px #65a5e8;
}

.btn-user-login {
    width: fit-content;
    transition: all 0.3s ease;
    user-select: none;
    cursor: pointer;
    padding: 0.6rem 1.25rem;
    line-height: 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: 2px solid #EB9400;
    background-color: #EB9400;
    color: #fff;
    margin: 0.5rem 0 0 0;
}

.btn-user-login:hover {
    box-shadow: 0 0 20px -5px #EB9400;
}

#pop-bg {
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 19;
}

#pop-panel {
    display: flex;
    position: absolute;
    z-index: 21;
    flex-direction: column;
    max-height: 70vh;
    width: 40vw;
    min-width: 30rem;
    background-color: #fff;
    color: #333;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
}

#pop-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 800;
    padding: 0 0 1rem 0;
}

#pop-content {
    display: flex;
    font-weight: 100;
    flex: 1;
    padding: 1rem;
    min-height: 20vh;
    /* overflow-x: hidden; */
    overflow-y: auto;
    align-items: flex-start;
}

#pop-box-aboutus {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#pop-box-aboutus h2 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 200;
}

#pop-box-aboutus p {
    word-break: normal;
    text-align: justify;
    text-indent: 2em;
    font-size: 1rem;
    line-height: 1.6rem;
}

#pop-box-user-license {
    padding: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#pop-box-user-license h3 {
    font-weight: 200;
    line-height: 1.8rem;
}

#pop-box-user-license h4 {
    font-weight: 200;
    line-height: 1.8rem;
}

#pop-box-user-license p {
    word-break: normal;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6rem;
}

#pop-box-user-license li {
    margin-left: 1em;
}
.pop-aboutus{
    align-self: center;
    margin: 1rem 0;
}
.pop-aboutus a{
    transition: all 0.15s ease-in-out;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #333;
    border-radius: 0.25rem;
}
.pop-aboutus a:hover{
    color: white;
    background-color: #333;
    border: 1px solid white;
}
.pop-window {
    display: flex;
    position: absolute;
    flex-direction: column;
    max-height: 60vh;
    min-height: 30vh;
    width: 50vw;
    min-width: 30rem;
    max-width: 50rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px -5px #000;
    color: #333;
    border-radius: 1rem;
    transform: perspective(60vh) rotate3d(1, 0, 0, 0deg) translate3d(0, -10vh, 0vh);
}

.pop-window .close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    font-weight: 100;
}

.pop-window .close svg {
    width: 1.5rem;
    height: 1.5rem;
}

.pop-window .close:hover svg {
    fill: #eb5050;
}

#thought {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

.thought-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.75rem;
}

.thought-face {
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.thought-name-and-date {
    margin-left: 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #333333;
    line-height: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.thought-name-and-date p {
    margin: 0.25rem;
}

.thought-date {
    font-size: 0.75rem;
    color: #666;
    font-weight: 500;
}

.thought-views {
    margin-left: auto;
    margin-right: 2rem;
    font-size: 0.85rem;
    color: #666;
}

.thought-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.thought-content .editor {
    width: 95%;
    height: 100%;
    flex-direction: column;
}

.thought-content .editor .w-e-toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.thought-content .editor .w-e-toolbar .w-e-menu {
    padding: 0.5rem 0.2rem;
}

.thought-content .editor .w-e-text-container {
    flex-direction: column;
    width: 100%;
    min-height: 30vh;
    max-height: 50vh;
    border: white;
}

.thought-content .editor .w-e-text {
    padding: 0.5rem 0.75rem;
    overflow-y: auto;
    height: 100%;
}

.thought-content .editor .w-e-text-container .w-e-text p {
    margin: 0;
}

.thought-content #thought-editor .w-e-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thought-content #thought-editor .w-e-text {
    height: fit-content;
}

/* #thought .thought-content {
    width: 100%;
    max-height: 40vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}
#express .thought-content {
    padding: 0 1.5rem;
    line-height: 1.8;
    width: 100%;
} */

#thought #text-content {
    text-indent: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    word-wrap: break-word;
    padding: 0.5rem 1rem;
    text-align: justify;
    justify-content: flex-start;
    text-justify: inter-ideograph;
}

#express {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 20;
    align-items: center;
}

#express #title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    margin: 0 0 0.1rem 0;
    justify-content: center;
    align-items: center;
}

#express #subtitle {
    font-size: 0.85rem;
    color: #8590a6;
    margin: 0 0 0.5rem 0;
}


#express #write-content-text {
    outline: none;
    user-select: text;
    overflow-wrap: break-word;
    min-height: 25vh;
    max-height: 50vh;
    width: 100%;
    font-size: 1rem;
    color: #333;
    line-height: 1.5rem;
    border: 1px solid #f0f2f7;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: left;
    justify-content: left;
    align-items: flex-start;
    overflow-y: auto;
}

.express-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.75rem 0;
    justify-content: center;
    align-items: center;

}

.express-classify {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    align-items: center;
}

.text-classify {
    font-size: 0.75rem;
    color: #8590a6;
    margin-left: 0.5rem;
}

.btn-classify:hover svg {
    fill: #60aaf0;
}

.btn-post:hover svg {
    fill: #3ea06e;
}

svg {
    width: 2rem;
    height: 2rem;
    fill: #8590a6;
    transition: all 0.2s ease-in-out;
}


#tutorial {
    transform: translate3d(0, -10vh, 0);
    color: #fff;
    font-size: 4rem;
    font-weight: 100;
    transform: perspective(50vh) rotate3d(1, 0, 0, -5deg) translate3d(0, -8vh, -2vh);
    opacity: 0;
    user-select: none;
}

.tutorial-show {
    animation-name: tutorial-show-anim;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.tutorial-hide {
    animation-name: tutorial-hide-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}



@keyframes tutorial-show-anim {
    0% {
        transform: perspective(50vh) rotate3d(1, 0, 0, -15deg) translate3d(0, -8vh, -10vh);
        opacity: 0;
    }

    100% {
        transform: perspective(50vh) rotate3d(1, 0, 0, 0deg) translate3d(0, -10vh, 0vh);
        opacity: 1;
    }
}

@keyframes tutorial-hide-anim {
    0% {
        transform: perspective(50vh) rotate3d(1, 0, 0, 0deg) translate3d(0, -10vh, 0vh);
        opacity: 1;
    }

    100% {
        transform: perspective(50vh) rotate3d(1, 0, 0, -5deg) translate3d(0, -8vh, -2vh);
        opacity: 0;
    }


}

.bounce-up-nda {
    animation-name: anim-bounce-up-nda;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.bounce-down-nda {
    animation-name: anim-bounce-down-nda;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.bounce-upright-nda {
    animation-name: anim-bounce-upright-nda;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

@keyframes anim-bounce-up-nda {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    60% {
        opacity: 1;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(-400px);
    }
}

@keyframes anim-bounce-down-nda {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    60% {
        opacity: 1;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(1000px);
    }
}

@keyframes anim-bounce-upright-nda {
    0% {
        transform: translateY(0px);
        transform: translateX(0px);
    }

    60% {
        transform: translateY(15px);
        transform: translateX(-15px);
    }

    100% {
        transform: translateY(-500px);
        transform: translateX(500px);
    }
}

.checkbox-autologin {
    display: flex;
    position: relative;
}

.checkbox-autologin input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
}

.checkbox-autologin label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #ccc;
}

.checkbox-autologin label:after {
    content: '';
    display: block;
    width: 10px;
    height: 4px;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 6px;
    left: 4px;
}

.checkbox-autologin input[type="checkbox"]:checked~label::before {
    border: 2px solid #EB9400;
    color: #EB9400;
}

.checkbox-autologin input[type="checkbox"]:checked~label::after {
    transform: rotate(-45deg) scale(1);
    border-bottom: 2px solid #EB9400;
    border-left: 2px solid #EB9400;
}

.checkbox-autologin input[type="checkbox"]~label span {
    transition: all 0.3s ease-in-out;
}

.checkbox-autologin input[type="checkbox"]:checked~label span {
    color: #EB9400;
    font-weight: bold;
}
.checkbox-autologin input[type="checkbox"]:checked~label{
    transform: translate3d(0vh, -1vh, 2vh);
}
.checkbox-autologin label {
    transition: all 0.2s ease-in-out;
    transform: translate3d(0vh, 0vh, 0vh);
    position: relative;
    display: block;
    padding-left: 1.6rem;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.checkbox-autologin input[type="checkbox"]:focus+label::before {
    outline: 0;
}